<h1><%= @list.name %></h1>

<% if @list.chores.any?%>
<h3>Here are the chores for this list:</h3>
  <ul>
    <% @list.chores.each do |chore|%>
      <li>
        <%= chore.description%> |
        <%=link_to "Edit", edit_list_chore_path(@list, chore)%>|
        <%=link_to "Delete", list_chore_path(@list, chore),:data => {:confirm => "Are you sure?", :method => "delete"}%>></li>
      <% end %>
  </ul>
  <% else %>
  <p>
    There are no chores yet!
  </p>
  <% end %>
<p><%= link_to "Add a chore", new_list_chore_path(@list) %></p>
<p>
  <%= link_to "Edit", edit_list_path(@list) %>
</p>
<p>
  <%= link_to "Delete", list_path(@list), :data => {:confirm => "Are You Sure?"},
  :method => "delete"%>
</p>
<p>
  <%= link_to "Return to lists", lists_path %>
</p>
